@charset 'utf-8';

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'paperlogy_4Regular';
    src: url('../fonts/Paperlogy-4Regular.ttf') format('truetype');
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */
    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none;
    /*Firefox*/
    -ms-text-size-adjust: none;
    /*Ie*/
    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    /* 가장 많이 쓰는 글 */
    font-family: 'pretendard';
    font-size: 18px;
    line-height: 1.3em;
    color: #333;
}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}

#header {
    height: 80px;
    background-color: #fff;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    position: relative;

}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    padding-top: 20px;
}

.gnb {
    display: flex;
    padding-top: 30px;
}

.gnb>li>a {
    display: block;
    margin: 0 20px;
}

.gnb>li:hover>a {
    color: #515614;
}

.login {
    position: absolute;
    top: 30px;
    right: -150px;
    z-index: 9;
}

.login ul {
    display: flex;
    width: 140px;
}

.login ul li a {
    display: block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 200;
    color: #666;
}

.top_btn {
    display: inline-block;
    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #666;
    color: white;
    padding-top: 14px;
    padding-left: 7px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.top_btn:hover {
    cursor: pointer;
    background-color: #F2A848;
    transform: scale(1.2);
}

#main_banner {
    height: 300px;
    background-image: url(../images/sub3_magazine/main_banner.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.banner_title {
    font-size: 60px;
    color: #f9bf74;
    font-family: 'paperlogy_4Regular';
}

#content1 {
    margin-top: 160px;
}

.inner_content1 {
    width: 1320px;
    margin: 0 auto;
}

.content1_box {
    display: flex;
    justify-content: space-between;
}

.title_text {
    text-align: center;
    margin-bottom: 60px;
}

.title_text h3 {
    font-size: 40px;
    color: #628F19;
    font-family: 'paperlogy_4Regular';
    margin-bottom: 20px;
}

.title_text p {
    font-size: 20px;
}

.content1_left {
    width: 908px;
    height: 655px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

}

.left__img img {
    display: block;
}

.content1_left:hover img {
    transform: scale(1.1);
    transition: all 0.5s;
}

.left_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.left_text h3 {
    font-size: 30px;
}

.left_text p {
    font-size: 15px;
    margin: 15px 0 35px;
    line-height: 1.2em;
}

.content1_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}

.right_wrap {
    border: #d6d6d6 solid 1px;
}

.right_img {
    overflow: hidden;
}

.right_img img {
    display: block;
}

.right_wrap:hover img {
    transform: scale(1.1);
    transition: all 0.5s;
}

.right_wrap p {
    font-size: 23px;
    margin: 15px 0 15px 15px;
    font-weight: bold;

}

.right_wrap span {
    display: block;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.2em;
}

#content2 {
    margin-top: 165px;
    margin-bottom: 200px;

}

.swiper-button-next:after {
    color: white;
}

.swiper-button-prev:after {
    color: white;
}

.swiper_magazine {
    width: 1600px;
    margin: 50px auto 200px;
    position: relative;
    overflow: hidden;
}
.swiper-wrapper{
    width: 2100px;
}
.swiper_magazine .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 470px;
    position: relative;
}

.swiper_magazine .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}


.swiper_txt{
    width: 493px;
    height: 110px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 60px;
    left: 0;
    padding-left: 20px;
    text-align: left;
    color: white;
    z-index: 15;
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.01) 0%,
        rgba(20, 20, 20, 0.1) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 1) 100%
      );
}
.swiper_txt h2{
    font-size: 23px;
    font-weight: 400;
    line-height: 1.3em;
}
.swiper_txt p{
    margin-top: 10px;
    font-size: 15px;
}
.swiper_magazine {
    margin-left: auto;
    margin-right: auto;
}
#content3{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 80px;
}

.search{
    position: absolute;
    right: 0;
    top: 80px;.gear_grid .grid li
}

.search_txt{
    height: 20px;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
}
.search_btn{
    border: none;
    background-color: none;
    width: 18px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
}
.search_btn img{
    display: block;
    margin-right: 5px;
}

.mag_cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}
.mag_cont li{
    width: 420px;
    height: 415px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-bottom: 10px;
}
.mag_img{
    width: 100%;
    overflow: hidden;
}
.mag_img img{
    display: block;
    width: 100%;
}
.mag_img img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.mag_txt{
    box-sizing: border-box;
    padding: 15px 20px;
}
.mag_txt h3{
    line-height: 1.4em;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.mag_txt p{
    font-size: 15px;
}
/* 페이지 구현 */
.magazine_wrap{
    height: 870px;
    position: relative;
}
.mag_pg1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: white;
}
.mag_pg2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}
.page_btn{
    width: 100px;
    margin: 0 auto;
}
.number_btn{
    display: flex;
}
.number_btn li{
    padding: 0 10px;
    cursor: pointer;
}
.btn1{
    font-weight: bold;
}




#footer {
    background-color: #333;
    height: 250px;
    color: #F2A848;
    font-size: 11px;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.footer_logo {
    display: flex;
}

.footer_logo ul {
    margin-left: 50px;
    display: flex;
    padding-top: 15px;
}

.footer_logo ul li {
    margin-right: 20px;
}

.footer_left p {
    margin-top: 30px;
    line-height: 1.3em;
}

.footer_left p span {
    font-weight: bold;
}

.footer_right ul {
    display: flex;
}

.footer_right ul li {
    margin-left: 20px;
}