@charset 'utf-8';

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'paperlogy_4Regular';
    src: url('../fonts/Paperlogy-4Regular.ttf') format('truetype');
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */
    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none;
    /*Firefox*/
    -ms-text-size-adjust: none;
    /*Ie*/
    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    /* 가장 많이 쓰는 글 */
    font-family: 'pretendard';
    font-size: 18px;
    line-height: 1.3em;
    color: #333;
}

#wrap {
    min-width: 1400px;
    
}
#header {
    height: 80px;
    background-color: #fff;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;


}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    padding-top: 20px;
}

.gnb {
    display: flex;
    padding-top: 30px;
}

.gnb>li>a {
    display: block;
    margin: 0 20px;
}

.gnb>li:hover>a {
    color: #515614;
}



.top_btn {
    display: inline-block;
    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #666;
    color: white;
    padding-top: 14px;
    padding-left: 7px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.top_btn:hover {
    cursor: pointer;
    background-color: #F2A848;
    transform: scale(1.2);
}

#main_banner {
    height: 300px;
    background-image: url(../images/sub4_shop/main_banner.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.banner_title {
    font-size: 60px;
    color: #f9bf74;
    font-family: 'paperlogy_4Regular';
}

.inner_section1{
    width: 1320px;
    margin: 0 auto;
}
.acc_bg{
    background-color: #333;
    height: 1633px;
}
.acc_wrap{
    width: 1320px;
    margin: 0 auto;
}
.maintitle{
    padding: 40px 0;
    font-size: 50px;
    line-height: 1.2em;
}
.acc_title{
    color: white;
    text-align: right;
    padding-right: 20px;

}
.apparel_wrap{
    display: flex;
    justify-content: space-between;
}

.content_main{
    width: 660px;
    height: 900px;
    position: sticky;
    top: 0;
}
.content_main img{
    display: block;
    width: 100%;
}
.content_grid{
    width: 630px;
}
.grid_img{
    overflow: hidden;
    cursor: pointer;
}
.grid_img img{
    transition: all 0.6s;
}
.grid_img img:hover{
    transform: scale(1.1);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.acc_grid{
    color: white;
}
.grid li{
    width: 300px;
}
.grid li img{
    display: block;
    width: 100%;
}
.grid_txt{
    margin: 10px 0 20px;
}
.grid_txt span{
    font-size: 14px;
    font-weight: 300px;
}
.grid_txt p{
    margin-bottom: 15px;
}
.acc_txt{
    color: white;
}
.acc_shadow{
    width: 660px;
    height: 300px;
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.01) 0%,
        rgba(20, 20, 20, 0.1) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 1) 100%
      );
    position: absolute;
    bottom: 0;
    left: 0;
}
.acc_txt{
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.acc_txt h3{
    font-size: 35px;
}
.acc_txt p{
    font-size: 20px;
    margin: 30px 0 5px;
}
.acc_txt span{
    font-size: 12px;
    display: block;
}
#section2{
    width: 1320px;
    margin: 100px auto;
    position: relative;
}
.list_btn{
    display: flex;
    justify-content: center;
}
.list_btn li p{
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 0 30px;
    cursor: pointer;
    border-radius: 5px;
}
.on{
    background-color: #64691F;
    color: white;
    border: none;
}

.search{
    position: absolute;
    right: 0;
    top: 80px;
}
.search_bar{
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 20px;
}
.search_txt{
    height: 20px;
    border: none;
    margin-left: 10px;
    position: relative;
}

.search_btn{
    border: none;
    background-color: none;
    width: 18px;
    display: inline-block;
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
}
.search_btn img{
    display: block;
    margin-right: 5px;
}
.section2_content{
    width: 1320px;
    height: 950px;
    margin-top: 80px;
    position: relative;
}

.gear_grid .grid li img{
    height: 360px;
}
.grid_position{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.page_btn{
    width: 100px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -50px;
}
.number_btn{
    display: flex;
}
.number_btn li{
    padding: 0 10px;
    cursor: pointer;
}
.btn_no1{
    font-weight: bold;
}




/* footer */
#footer {
    background-color: #333;
    height: 250px;
    color: #F2A848;
    font-size: 11px;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.footer_logo {
    display: flex;
}
.footer_logo h1{
    
}
.footer_logo ul {
    margin-left: 50px;
    display: flex;
    padding-top: 15px;
}

.footer_logo ul li {
    cursor: pointer;
    margin-right: 20px;
}

.footer_left p {
    margin-top: 30px;
    line-height: 1.3em;
}

.footer_left p span {
    font-weight: bold;
}

.footer_right ul {
    display: flex;
}

.footer_right ul li {
    margin-left: 20px;
}
.footer_right ul li img{
    cursor: pointer;
}